<!DOCTYPE html>
<html>

<head>
  <link href="css/bootstrap.css" rel="stylesheet"></link>
  <link href="css/bootstrap-theme.css" rel="stylesheet"></link>
  <link href="css/bootstrap-datetimepicker.css" rel="stylesheet"></link>
  <link rel="stylesheet" href="css/bootstrap-tagsinput.css"></link>
  <link href="css/simple-sidebar.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet"></link>
  <link href="css/popUpStyle.css" rel="stylesheet"></link>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
  <title>OpenInvite</title>
</head>

<body>
  <!--
  <div id="wrapper">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="/profile">
            <img class="profile-picture" src="{{profile.profilePicture}}"  style="width:50px"></img>
            {{profile.name}}
          </a>
        </li>
        <hr></hr>
        <li>
            <a href="/index"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li class="sidebar-nav-active">
            <a href="/events"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> My Events</a>
        </li>
        <li>
            <a href="/culture"><i class="fa fa-compass" aria-hidden="true"></i> Explore Local Culture</a>
        </li>
        <li>
            <a href="/help"><i class="fa fa-question-circle" aria-hidden="true"></i> FAQ </a>
        </li>
      </ul>
    </div>
  -->

    <div class="banner">
      <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>

      <div class="jumbotron text-center" style="margin-bottom: 15px">
        <img src="images/OpenInvite.png" style="max-width:600px; width: 70%"></img>
		<!-- Button to open the modal -->
		<button onclick="document.getElementById('eventPopUp').style.display='block'" type="button" class="btn btn-default">
          <i class="fa fa-plus-square" aria-hidden="true"></i> Create Event
        </button>
      </div>
    </div>

    <div class="banner text-center titleHeader well-sm">
        <span class="areas-of-interest__text"> Your Events </span>
    </div>

      {{#each events}}
      <div class="well well-sm event-item">
        <div class="event-item-left">
          <h4 class="event-item-title">Going</h4>
          <h5 class="event-item-subtitle mb-2 text-muted">
          {{#each going}}
          {{name}}<br/><br/>
          {{/each}}
        </h5>
        </div>
        <div class="event-item-right">
          <h4 class="event-item-title">{{name}}</h4>
          <h5 class="event-item-subtitle text-muted">{{location}} <br/> {{datetime}}</h5>
          <h6 class="event-item-subtitle mb-2 text-muted">{{host.name}}</h6>
          <p class="card-text">{{description}}</p>
          <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        </div>
      </div>
      {{/each}}


  </div>


  <!-- The Modal (contains the Sign Up form) -->
<div id="eventPopUp" class="modal">
    <span onclick="document.getElementById('eventPopUp').style.display='none'" class="close" title="Close Modal">&times;</span>

  <form class="modal-content animate" id="newEvent" action="/new_event" method="post">

    <div class="popup-container">
            <label><b>Title</b></label>
            <input type="text" placeholder="My Awesome Event" name="name" required>
            <label><b>Location</b></label>
            <input type="text" placeholder="@My Place" name="location" required>
      <!--
      <br>
      <label><b>Date</b></label>
            <input type="text" placeholder="4 Feb" name="date" required>
      <label><b>Time</b></label>
            <input type="text" placeholder="5:00pm" name="time" required>
      -->
            <label><b>Date and Time</b></label>
            <div class="input-append date form_datetime">
                <input size="16" type="text" name="datetime" required>
                <span class="add-on"><i class="icon-remove"></i></span>
                <span class="add-on"><i class="icon-th"></i></span>
            </div>

            <label><b>Description</b></label>
            <input type="text" placeholder="Come to My Awesome Event" name="description" required>

            <label><b>Tags (optional)</b></label><br/>
            <select class="tagbox" name="tags" multiple data-role="tagsinput">
            </select>

        <!--<p>By creating an event you agree to our <a href="#">Terms & Privacy</a>.</p>-->
        <div class="clearfix">
          <button type="submit" class="signupbtn btn" id="submitNewEvent">Create Event</button>
          <button type="button" onclick="document.getElementById('eventPopUp').style.display='none'" class="cancelbtn btn" id="cancelNewEvent">Cancel</button>
        </div>
      </div>
    </form>
</div>



  <script src="https://use.fontawesome.com/6a9c821b61.js"></script>
  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/main.js"></script>
  <script src="js/popUp.js"></script>
  <script src="js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
  <script type="text/javascript">
    $(".form_datetime").datetimepicker({
        format: "dd MM yyyy, HH:ii P",
        showMeridian: true,
        autoclose: true,
        todayBtn: true,
        fontAwesome: true,
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
  <script src="js/bootstrap-tagsinput.js"></script>
  <script src="js/bootstrap-tagsinput-angular.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-92483777-2', 'auto');
    ga('send', 'pageview');

  </script>
</body>

</html>
