<!DOCTYPE html>
<html>

<head>
  <link href="css/bootstrap.css" rel="stylesheet"></link>
  <link href="css/bootstrap-theme.css" rel="stylesheet"></link>
  <link href="css/simple-sidebar.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet"></link>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
  <title>OpenInvite</title>
</head>

<body>
  <div id="wrapper">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="/profile">
              <img class="profile-picture" src="http://lorempixel.com/50/50/people/"></img>
              Skyler Taylor
            </a>
        </li>
        <hr></hr>
        <li class="sidebar-nav-active">
            <a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li>
            <a href="/events"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> My Events</a>
        </li>
        <li>
            <a href="/events"><i class="fa fa-compass" aria-hidden="true"></i> Explore Local Culture</a>
        </li>
        <li>
            <a href="/help"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a>
        </li>
      </ul>
    </div>

    <div class="banner">
      <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>

      <div class="jumbotron text-center">
        <h1>OpenInvite</h1>
        <button type="button" class="btn btn-default">
          <i class="fa fa-plus-square" aria-hidden="true"></i> Create Event
        </button>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Friends Events</h3>
        </div>
        <div class="col-md-4">
          <h3>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search events...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </span>
            </div><!-- /input-group -->
          </h3>
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->

      <br/>

      <table class="table table-hover events-table">
        <thead>
          <tr>
            <th></th>
            <th>Host</th>
            <th>Event</th>
            <th>Location</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>

          {{#each events}}
          <tr>
            <td>
              <button type="button" class="btn btn-default attend-button">
                I'm going
              </button>
            </td>
            <td>{{host.name}}</td>
            <td>{{name}}</td>
            <td>{{location}}</td>
            <td>{{date}}, <br/> {{time}}</td>
          </tr>
          {{/each}}

        </tbody>
      </table>

    </div>


  </div>

  <script src="https://use.fontawesome.com/6a9c821b61.js"></script>
  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/main.js"></script>
</body>

</html>
